<style type="text/css" th:fragment="style">
</style>

<script th:inline="javascript" th:fragment="script">
	/*<![CDATA[*/
	           
	$(function() {
		
	});
	
	/*]]>*/
</script>

<div th:fragment="content">
	<div class="bs-docs-header">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
		</th:block>
		<span id="notification" style="display:none;"></span>
		<div id="tmp"></div>
		<br/>		
	</div>
	<div class="container bs-docs-container">	
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/}">Home</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>

